<!DOCTYPE html>
<html>

<head>
    <title>Vue.js Pet Depot</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="products.js"></script>
    <style>
        .product{
            border: 1px grey solid;
            padding: 20px;
            margin:20px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="manifest" href="petstore.webmanifest">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button @click="showCheckout">
                {{ cartItemCount }}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if="showProduct">
                <div class='product' v-for="product in sortedProducts" :key="product.id">
                    <figure>
                        <img v-bind:src="product.image" alt="Product Image">
                    </figure>
                    <h2 v-text="product.title"></h2>
                    <p v-html="product.description"></p>
                    <p>Price: {{ product.price }}</p>
                    <p>Availability: {{ product.availableInventory }}</p>
                    <div>
                        <span v-for="n in product.rating">★</span>
                        <span v-for="n in 5 - product.rating">☆</span>
                    </div>
                    <button @click="addToCart(product)" :disabled="!canAddToCart(product)">
                        {{ product.availableInventory === cartCount(product.id) ? 'All out!' : 'Add to cart' }}
                    </button>
                    <span v-if="product.availableInventory === cartCount(product.id) || product.availableInventory - cartCount(product.id)<5">
                        Only {{ product.availableInventory - cartItemCount }} left!
                    </span>
                </div>
            </div>
            
                    <button :disabled="!canAddToCart(product)" v-else>
                        Add to cart
                    </button>
                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model.trim="order.firstName" />
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName" />
                </p>
                <p><strong>Address:</strong> <input v-model="order.address" /></p>
                <p><strong>City:</strong> <input v-model="order.city" /></p>

                <p>
                    <strong>State:</strong>
                    <select v-model="order.state" class="form-control">
                        <option disabled value="">State</option>
                        <option v-for="(abbreviation, state) in states" :value="abbreviation">{{ state }}</option>
                    </select>
                </p>
                <p><strong>Zip/Postal Code:</strong> <input v-model="order.zip" /></p>

                <p>
                    <input type="checkbox" id="gift" value="true" v-model="order.gift">
                    <label for="gift">Ship As Gift?</label>
                </p>

                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>

                <h2>Order Information</h2>
                <p>First Name: {{ order.firstName }}</p>
                <p>Last Name: {{ order.lastName }}</p>
                <p>Address: {{ order.address }}</p>
                <p>City: {{ order.city }}</p>
                <p>Zip: {{ order.zip }}</p>
                <p>State: {{ order.state }}</p>
                <p>Method: {{ order.method }}</p>
                <p>Gift: {{ order.gift }}</p>

                <button @click="submitForm">Place Order</button>
            </div>
        </main>
    </div>
    <script type="text/javascript">
        let webstore = new Vue({
            el: "#app",
            data: {
                sitename: "Vue.js Pet Depot",
                showProduct: true,
                products: products,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    states: {
                        'Alabama': 'AL',
                        'Alaska': 'AK',
                        'Arizona': 'AR',
                        'California': 'CA',
                        'Nevada': 'NV'
                    },

                    method: 'Home',
                    sendGift: 'Send as a Gift',
                    dontSendGift: 'Do Not send as a gift'
                },
                cart: [],
            },
            methods: {
                addToCart: function (product) {
                    if (this.canAddToCart(product) && product.availableInventory > 0) {
                        this.cart.push(product.id);
                        product.availableInventory--; // Decrease availability
                    }
                },
                showCheckout() {
                    this.showProduct = !this.showProduct;
                },
                submitForm() {
                    alert('Order Submitted!');
                },
                canAddToCart: function () {
                    return function (product) {
                        return product.availableInventory > 0;
                    }
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length || '';
                },
                sortedProducts() {
                    let productsArray = this.products.slice(0);
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return productsArray.sort(compare);
                }
            },
        });
    </script>
</body>

</html>